.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  font-family: 'Shojumaru', cursive;

}

.App-intro {
  font-size: 50;
  color: white;
  font-family: 'Poor Story', cursive;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
